:root {
    /* Colors */
    --primary-color: #007bff;
    --secondary-color: #0056b3;
    --background-color: rgb(17, 17, 17);
    --text-color: white;
    --border-color: #373b3e;
    --gradient-start: #FFA500;
    --gradient-end: #8a00c2;
    
    /* Typography */
    --font-family: Nunito, -apple-system, sans-serif;
    --font-size-sm: 14px;
    --font-size-md: 16px;
    --font-size-lg: 18px;
    
    /* Spacing */
    --spacing-sm: 10px;
    --spacing-md: 15px;
    --spacing-lg: 20px;
    
    /* Border radius */
    --border-radius: 8px;
} 